body {
  font-family: Helvetica;
}

.update {
  color: #888888;
  position:absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 3px;
}

.node circle {
  /* fill: #888888; */
  /* stroke: #fff; */
  stroke-width: 2px;
}

.node text {
  fill: #888888;
  stroke: none;
  font-size: .6em;
}

.link {
  stroke: #cccccc;
  stroke-opacity: .6;
}

.nodeContextMenu {
  position: absolute;
  background: #F9F9F9;
  font-size: 14px;
  border: 1px solid #999999;
}

.nodeContextMenu .header {
  width: 100%;
  font-weight: bold;
  padding: 2px;
  margin: 2px 5px 2px 5px;
}

.nodeContextMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nodeContextMenu li {
  padding: 0;
  margin: 0;
}

.nodeContextMenu li a {
  padding: 4px 10px 4px 10px;
  margin: 0;
  border-top: 1px solid #BBBBBB;
  color: #000000;
  text-decoration: none;
  display: block;
}

.nodeContextMenu li a:hover {
  background: #888888;
}